<h1>Index of All Files</h1>
<p>You can view files here and download them.</p>
<table>
  <thead>
    <tr>
      <th>ID </th>
      <th>File Name </th>
      <th>Files </th>
      <th>Count </th>
      <th><th>
      <th><th>
    </tr>
  </thead>
  <tbody>

    <% @documents.each do |document| %>
      <tr>
        <td><%= document.id%></td>
        <td><%= document.file_name%></td>
        <td>
          <%document.files.each do |file| %>
             <li><%= file.filename %></li>
          <% end %>
        </td>
        <td><%= document.files.count%></td>
        <td><%= link_to "Show", document_path(document) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
