<div>
  <h2>Upload A Document</h2>
  
  <%= form_for @document, html: {class: 'form'} do |f| %>
    <div class="field">
      <%= f.label :file_name %>
      <%= f.text_field :file_name, required: true %>
    </div>
    <div class="field">
      <%= f.label :file %>
      <%= f.file_field :file, required: true, multiple: true %>
    </div>
    <%= f.submit "Upload"%>
  <% end%>
</div>