<!DOCTYPE html>
<html>
  <head>
    <title>FileTransferApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "All Files", documents_path %>
      <%= link_to "Upload New Files", new_document_path %>
    </header>
    
    <% flash.each do |message_type, messages| %>
      <div class="alert alert-<%= message_type %>">
      <% if messages.instance_of?(String) %>
        <%= messages %>
      <% elsif messages.instance_of? Array%>
        <% messages.each do |message| %>
          <li><%= message%></li>
        <% end %>
        
      <% end %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
